<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard One | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/notika/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/notika/css/owl.theme.css">
    <link rel="stylesheet" href="/static/notika/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/static/notika/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- VUE/Jquery
		============================================ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(document).ready(function(){
            //alert('{{group_list.0}}')
            
            // VUE COMPONENT : 육각형 출력 - <honeyc> 태그 레이아웃
            Vue.component('honeyc', {
            delimiters: ['${', '}'], // VUE와 Django의 태그 규칙이 같아 변경
              props:['name','index'], // 각 인스턴스의 고유 파라미터
              template: "<div class='comb' v-on:click='goto_group()'><div class='front-content'><p>${name}</p></div><div class='back-content'><p><B>VIEW</B><br>${name}</p></div></div>", // 템플릿 HTML 태그
              methods: { 
                  goto_group: function (input) { // 각 컴포넌트에 붙어있는 v-on:click이 바인딩된다.
                      alert(this.index); // 순서대로 표시하므로 각 index는 곧 각 그룹의 Id이다.
                      location.replace("/movies/group_view?id="+this.index);
                  }
              }
            })
            
            // VUE : 그룹 리스트 출력 관련 
            var group_list_app = new Vue({
                el: '#group_list_app',
                data : {
                    group_name_list:'',
                    group_id_list:''
                },created: function () {
                    this.group_name_list = [];
                    this.group_id_list = [];
                    // 컴포넌트에서 사용하기 위해 VUE 리스트로 변환한다.
                    {%for group_one in group_list %}
                        this.group_name_list.push('{{group_one.name}}');
                        this.group_id_list.push('{{group_one.id}}');
                    {% endfor %}
                }
            });
        });
    </script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    {% include 'common/header.html' %}
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    {% include 'common/topmenu.html' %}
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-app"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Group list </h2>
                                        <p>There are currently <B>{{group_list.count}}</B> groups in <B>MOBEE</B></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="" class="btn waves-effect" data-original-title="Download Report"><i class="notika-icon notika-sent"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" id="group_list_app" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                         <div class="honeycombs">
                             <honeyc v-for="(name, index) in group_name_list" v-bind:name="name" v-bind:index="index"></honeyc>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 그룹정보 표시 -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018 
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="/static/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/static/notika/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/static/notika/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/static/notika/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/static/notika/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/static/notika/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/static/notika/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/static/notika/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/notika/js/counterup/waypoints.min.js"></script>
    <script src="/static/notika/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/static/notika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/notika/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/notika/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/flot/jquery.flot.js"></script>
    <script src="/static/notika/js/flot/jquery.flot.resize.js"></script>
    <script src="/static/notika/js/flot/curvedLines.js"></script>
    <script src="/static/notika/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/static/notika/js/knob/jquery.knob.js"></script>
    <script src="/static/notika/js/knob/jquery.appear.js"></script>
    <script src="/static/notika/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/static/notika/js/wave/waves.min.js"></script>
    <script src="/static/notika/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/static/notika/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/static/notika/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="/static/notika/js/chat/moment.min.js"></script>
    <script src="/static/notika/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/static/notika/js/main.js"></script>
    <!-- honeycombs
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="/static/honeycombs/css/honeycombs.css" />
    <script src="/static/honeycombs/js/jquery.honeycombs.js"></script>
    <script>
        $(document).ready(function() {
        $('.honeycombs').honeycombs({
            combWidth:180,  // width of the hexagon
            margin: 0,		// spacing between hexagon
            threshold: 3  	// hide placeholder hexagons when number of hexagons in a row is more than the threshold number
        });
    });
    </script>
</body>

</html>