<!doctype html>
<html class="no-js" lang="">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard One | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/notika/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/notika/css/owl.theme.css">
    <link rel="stylesheet" href="/static/notika/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/static/notika/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- VUE/Jquery
		============================================ -->
    <script src="{% static 'movies/js/d3.js' %}"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(document).ready(function(){
            
        });
    </script>
</head>

<body>

    <!-- Start Header Top Area -->
    {% include 'common/header.html' %}
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    {% include 'common/topmenu.html' %}
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
          <h5>selected year</h5>
          <p id="year_selected">Please Select to see genres' popularity of that years</p>
          <div>
              <select name="year" id="year" class="selectpicker yearpicker">
                <option value="1890">1890 ~</option>
                <option value="1900">1900 ~</option>
                <option value="1910">1910 ~</option>
                <option value="1920">1920 ~</option>
                <option value="1930">1930 ~</option>
                <option value="1940">1940 ~</option>
                <option value="1950">1950 ~</option>
                <option value="1960">1960 ~</option>
                <option value="1970">1970 ~</option>
                <option value="1980">1980 ~</option>
                <option value="1990">1990 ~</option>
                <option value="2000">2000 ~</option>
                <option value="2010">2010 ~</option>
              </select>
          </div>


            <!-- Create a div where the graph will take place -->
            <div id="my_dataviz"></div>

            <script>
            $('#year').change(function() {
                var data = "";
                var year = document.getElementById("year");
                $.ajax({
                    data : $(this).val(),
                    async: false,
                    success : function(response) {
                      document.getElementById("my_dataviz").innerHTML = "";
                      var sel_year = year.value;
                      document.getElementById("year_selected").innerHTML = sel_year;
                      draw_graph(year);
                    },
                    error: function() {
                        alert('Error occured');
                    }
                });
            });

            function draw_graph(year){
              // set the dimensions and margins of the graph
              var margin = {top: 30, right: 30, bottom: 70, left: 60},
                  width = 460 - margin.left - margin.right,
                  height = 400 - margin.top - margin.bottom;

              // append the svg object to the body of the page
              var svg = d3.select("#my_dataviz")
              .append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
              .append("g")
                  .attr("transform",
                      "translate(" + margin.left + "," + margin.top + ")");

              // Parse the Data
              var data_url = "{% url 'movies:genrescount_api' year=11 %}".replace(/11/, year.value);
              d3.csv(data_url , function(error, data) {
                  var max = d3.max(data, function(d) { return +d.count;});
                  // X axis
                  var x = d3.scaleBand()
                  .range([ 0, width ])
                  .domain(data.map(function(d) { return d.name; }))
                  .padding(0.2);''
                  svg.append("g")
                  .attr("transform", "translate(0," + height + ")")
                  .call(d3.axisBottom(x))
                  .selectAll("text")
                      .attr("transform", "translate(-10,0)rotate(-45)")
                      .style("text-anchor", "end");

                  // Add Y axis
                  var y = d3.scaleLinear()
                  .domain([0, max])
                  .range([ height, 0]);
                  svg.append("g")
                  .call(d3.axisLeft(y));

                  // Bars
                  svg.selectAll("mybar")
                  .data(data)
                  .enter()
                  .append("rect")
                      .attr("x", function(d) { return x(d.name); })
                      .attr("y", function(d) { return y(d.count); })
                      .attr("width", x.bandwidth())
                      .attr("height", function(d) { return height - y(d.count); })
                      .attr("fill", "#69b3a2")

              })
            }
            </script>
        </div>
    </div>
    <!-- 그룹정보 표시 -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018 
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="/static/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/static/notika/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/static/notika/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/static/notika/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/static/notika/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/static/notika/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/static/notika/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/static/notika/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/notika/js/counterup/waypoints.min.js"></script>
    <script src="/static/notika/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/static/notika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/notika/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/notika/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/flot/jquery.flot.js"></script>
    <script src="/static/notika/js/flot/jquery.flot.resize.js"></script>
    <script src="/static/notika/js/flot/curvedLines.js"></script>
    <script src="/static/notika/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/static/notika/js/knob/jquery.knob.js"></script>
    <script src="/static/notika/js/knob/jquery.appear.js"></script>
    <script src="/static/notika/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/static/notika/js/wave/waves.min.js"></script>
    <script src="/static/notika/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/static/notika/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/static/notika/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="/static/notika/js/chat/moment.min.js"></script>
    <script src="/static/notika/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/static/notika/js/main.js"></script>
    <!-- honeycombs
        ============================================ -->
    <link rel="stylesheet" type="text/css" href="/static/honeycombs/css/honeycombs.css" />
    <script src="/static/honeycombs/js/jquery.honeycombs.js"></script>
    <script>
        $(document).ready(function() {
        $('.honeycombs').honeycombs({
            combWidth:180,  
            margin: 0,		
            threshold: 3 
        });
    });
    </script>
</body>

</html>