<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard One | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/notika/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/notika/css/owl.theme.css">
    <link rel="stylesheet" href="/static/notika/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/static/notika/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/static/notika/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- VUE/Jquery
		============================================ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        
             // Djanog CSRF
     function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
        
        
        $(document).ready(function(){
            $('#summernote').summernote();
             var post_app = new Vue({
                 delimiters: ['${', '}'],
                 el: '#post_app',
                 data: {
                    rawHTML : [],
                    tempHTML : "",
                    ismember : Boolean,
                 },
                created: function () {
                    {% for clubpost in clubposts %}
                        this.tempHTML = ""
                        {% for clubcomment in clubcomments%}
                            {% if clubcomment.post_id == clubpost.id %}
                                this.tempHTML += '<b>{{clubcomment.author}}</b>&nbsp;&nbsp;&nbsp;{{clubcomment.content}}<br>'
                            {%endif%}
                        {%endfor%}
                        this.rawHTML.push(this.tempHTML)
                    {%endfor%}
                    {% if ismember %}
                    this.ismember = 1
                    {% else %}
                    this.ismember = 0
                    {% endif %}
                },
                methods: {
                    postsubmit: function (event) { 
                        var inputtext = $('#summernote').summernote('code');
                        var userid = {{user.id}};
                        var clubid = {{club.0.id}};
                        var url="/movies/postsubmit";
                        $.ajax({      
                            type:"POST",  
                            url:url,   
                            data:{"inputtext":inputtext,"authorid":userid,"clubid":clubid}, 
                            success: function(response){
                                location.reload();
                            },   
                            error:function(e){  
                                alert(e.responseText);  
                            } 
                        });
                    },
                    commentsubmit: function (input) { 
                        id = "#comment-input-"+input
                        content = $(id).val();
                        console.log(content);
                        url = "/movies/commentsubmit"; 
                        $.ajax({      
                            type:"POST",  
                            url:url,   
                            data:{"post_id":input,"content":content,"author_id":{{user.id}}}, 
                            success: function(response){
                                location.reload();
                            },   
                            error:function(e){  
                                alert(e.responseText);  
                            } 
                        });
                    }
                }
             })
        })
    </script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    {% include 'common/header.html' %}
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    {% include 'common/topmenu.html' %}
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-app"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>{{club.0.name}} </h2>
                                        <p>
                                            There are <B>{{usercount}}</B> people in this club
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="" class="btn waves-effect" data-original-title="Download Report"><i class="notika-icon notika-sent"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!--좌측 메뉴-->
                <div class="col-md-3">
                    <div class="breadcomb-list" style="padding:0">
                        <div class="right-menu">
                                <h3>Club Menu</h3>
                                only club members can write posts
                        </div>
                        <div class="breadcomb-list">
                               
                        </div>
                    </div>
                    <div class="inbox-left-sd">
                        <div class="inbox-status">
                             <ul class="inbox-st-nav inbox-ft">
                                <li><a href="/movies/clubview?id={{club.0.id}}"><i class="notika-icon notika-mail"></i> Posts</a></li>
                                <li><a href="/movies/clubmember?id={{club.0.id}}"><i class="notika-icon notika-support"></i> Members</a></li>
                                <li><a href="/movies/clubrecommend?id={{club.0.id}}"><i class="notika-icon notika-bar-chart"></i>Recommended Movies</a></li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                </div>
                <!--중앙 내용-->
                <!--우측 메뉴-->
                <div class="col-md-9">
                    <div class="breadcomb-list" style="padding:0">
                             {% load mathfilters %}
                                {% for movie in recommends %}
                                <div class="col-md-3">
                                    <div OnClick="location.href ='/movies/movieview?id={{movie.id}}'" style="background-image:url('https://image.tmdb.org/t/p/original/{{movie.poster}}'); background-size:cover; height:250px;"></div>
                                    <div class="btn btn-default notika-btn-default btn-xs waves-effect" style="width:100%"><br><h5>{{ movie.title }}</h5>
                                        <div class="skill-content-3 ongoing-tsk">
                                            <div class="skill" style="height:20px">
                                                <div class="progress">

                                                    <div class="progress-bar wow fadeInLeft" data-progress="{{ movie.vote_avg |mul:10 }}%" style="width: {{ movie.vote_avg |mul:10 }}%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>{{ movie.vote_avg |mul:10 }}</span>
                                                    </div>
                                                </div>
                                                sadasd
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 그룹정보 표시 -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018 
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="/static/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/static/notika/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/static/notika/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/static/notika/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/static/notika/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/static/notika/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/static/notika/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/static/notika/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/notika/js/counterup/waypoints.min.js"></script>
    <script src="/static/notika/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/static/notika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/static/notika/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/notika/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/notika/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/static/notika/js/flot/jquery.flot.js"></script>
    <script src="/static/notika/js/flot/jquery.flot.resize.js"></script>
    <script src="/static/notika/js/flot/curvedLines.js"></script>
    <script src="/static/notika/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/static/notika/js/knob/jquery.knob.js"></script>
    <script src="/static/notika/js/knob/jquery.appear.js"></script>
    <script src="/static/notika/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/static/notika/js/wave/waves.min.js"></script>
    <script src="/static/notika/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/static/notika/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/static/notika/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="/static/notika/js/chat/moment.min.js"></script>
    <script src="/static/notika/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/static/notika/js/main.js"></script>
    <!-- include libraries(jQuery, bootstrap) -->
</body>
</html>